/* Comfortable dark theme for kaycee.
 * To apply it you can just paste it directly into [Settings] > [CSS]. Intended to be used with the Default theme.
 * It's fairly simple, but I commented everything so you can change things to your own liking.
 * To change/adjust colors you should just change the hexcodes in the :root element.
 * Note: Does not work while the Christmas theme is active.
 */


/* Setting some global colors */
:root {
    /* Change to adjust background color */
    --bg-color: #333;
    /* A slightly brighter color for each invidual post, so the post hierachy looks less flat */
    --post-bg-color: #444;
    /* Change to adjust text color, also contains various other elements (for example borders) */
    --fg-color: #eee;
    /* Change highlight color, for example when hovering over a link */
    --hl-color: #eee;
    /* Color for links, recommended to be slightly different from general text color */
    --link-color: #afafaf;
    /* Color for green text */
    --greentext-color: #0a0;
    /* Color for orange text */
    --orangetext-color: #d60;
    /* Color of red text and sage*/
    --redtext-color: #e20;
    /* Color used for spoiler background color and hidden text color */
    --spoiler-color: #141414;
}

/* Change background color and font color for all elements */
* {
    background-color: var(--bg-color) !important;
    color: var(--fg-color) !important;
}

/* Adjust color for green text segments. */
.greenText, .greenText > strong {
    color: var(--greentext-color) !important;
}

/* Adjust color for orange text segments. */
.orangeText {
    color: var(--orangetext-color) !important;
}

/* Adjust color for red text segments. */
.redText {
    color: var(--redtext-color) !important;
}

/* Change text color of links, and quoting elements */
a, .linkQuote, .linkSelf {
    color: var(--link-color) !important;
}

/* Change the color + bolden when links are hovered */
a:hover, .linkQuote:hover, .linkSelf:hover  {
    color: var(--fg-color) !important;
    font-weight: bold;
}
/* Apply a border and some padding for the posting form */
td, th, table {
    border-collapse: collapse;
    border: 1px dotted var(--fg-color);
    padding: 4px;
}

/* Apply a slighltly lighter color for posts to make the layout appear less flat */
.innerPost * {
    background-color: var(--post-bg-color) !important;
}

/* Replace thread separators */
hr {
    border: none;
    border-top: 1px dotted var(--fg-color);
    height: 1px;
}

/* Adjust the thread collapsed fade-out effect to the correct bg color*/
.bottomGradient {
    background: linear-gradient(transparent, var(--bg-color)) !important;
}

/* Adjustments to page navigation: Remove unwanted borders */
.threadPages * {
    border-style: none !important;
}

/* Adjustments to page navigation: Add border around the whole page navigation*/
.divPages {
    border-style: dotted !important;
}

/* Adjustments to page navigation: Current page should not be put in brackets */
span.brackets::before, span.brackets::after {
    content: none;
}
/* Adjustments to page navigation: Current page should be displayed in bold font */
span.brackets {
    font-weight: bold;
}

/* Change sage color back to red */
span.sage {
    color: var(--redtext-color) !important;
}

/* Fix spoilers */
span.spoiler {
    color: var(--spoiler-color) !important;
    background-color: var(--spoiler-color) !important;
    border-radius: 3px;
}

/* Fix spoilers */
span.spoiler:hover {
    color: var(--fg-color) !important;
}
